form.dataset-edit(name="datasetEditForm")
  .col-half
    label Title
    input(placeholder="title" ng-model="dataset.title")
    label Catalog
    input(disabled ng-if="!creating" placeholder="catalog" ng-model="dataset.catalog.name")
    select(ng-if="creating" ng-model="tmpCatalog" ng-change="setNewCatalog(tmpCatalog, dataset)")
      option(disabled selected="selected") Select a catalog
      option(ng-repeat="catalog in catalogs" ng-value="catalog") {{catalog}}
    label Description
    textarea(ng-model="dataset.description", placeholder="Enter a description")
    .dataset-vendor
      label Vendor
      input.dataset-vendor-field(placeholder="vendor"
            ng-model="dataset.vendor"
            typeahead="vendor for vendor in vendors | filter:$viewValue"
            typeahead-min-length=3)
    .dataset-format
      label Format
      input.dataset-format-field(placeholder="format"
            ng-model="dataset.format"
            typeahead="format for format in formats | filter:$viewValue"
            typeahead-min-length=1)
    label Release Date
    input(type="date" placeholder="released" ng-model="dataset.releaseDate")
    label Start Date
    input(type="date" placeholder="start date" ng-model="dataset.startDate")
    label Update Frequency
    input(placeholder="Update Frequency" ng-model="dataset.updateFrequency")
    .dataset-tags
      label Tags
      tags(dataset-tags="dataset.tags")
    .dataset-category
      label Category
      input.dataset-category-field(placeholder="Category"
            ng-model="dataset.categories[0].name"
            typeahead="category as label(category) for category in getCategories($viewValue)"
            typeahead-min-length=3
            typeahead-on-select="onSelect($item)"
            typeahead-editable="false"
            required)
    label Remote File Location
    input(placeholder="Location" ng-model="dataset.remoteFile")
  .col-half
    h4 Previews
    ul
      li(ng-repeat="preview in dataset.dataPreviews")
        img(ng-if="preview.smallPreviewUrl" ng-src="{{preview.smallPreviewUrl}}")
    label Table preview entry
    textarea(disabled placeholder="Table preview entry") {{dataset['table-preview']}}
    .btn-group
      .btn.submit-dataset-edit.alt(ng-click="onEdit(dataset)" ) {{creating ? 'Create' : 'Update'}}
      .btn.delete-dataset(ng-click="deleteEntity(dataset)" ng-if="!creating") Delete

